@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(13.85% 0.0283 285.75);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(13.85% 0.0283 285.75);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(13.85% 0.0283 285.75);
  --color-primary: oklch(19.87% 0.0298 285.75);
  --color-primary-foreground: oklch(93.37% 0.0106 264.44);
  --color-secondary: oklch(93.01% 0.0106 264.44);
  --color-secondary-foreground: oklch(19.87% 0.0298 285.75);
  --color-muted: oklch(93.01% 0.0106 264.44);
  --color-muted-foreground: oklch(56.86% 0.02 254.09);
  --color-accent: oklch(93.01% 0.0106 264.44);
  --color-accent-foreground: oklch(19.87% 0.0298 285.75);
  --color-destructive: oklch(58.42% 0.1567 29.07);
  --color-destructive-foreground: oklch(93.37% 0.0106 264.44);
  --color-border: oklch(89.67% 0.0168 251.12);
  --color-input: oklch(89.67% 0.0168 251.12);
  --color-ring: oklch(13.85% 0.0283 285.75);
  --color-chart-1: oklch(68.99% 0.1264 31.67);
  --color-chart-2: oklch(53.84% 0.0864 197.44);
  --color-chart-3: oklch(41.01% 0.0511 221.69);
  --color-chart-4: oklch(76.05% 0.1314 88.4);
  --color-chart-5: oklch(75.79% 0.1457 49.77);
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(13.85% 0.0283 285.75);
    --color-foreground: oklch(93.37% 0.0106 264.44);
    --color-card: oklch(13.85% 0.0283 285.75);
    --color-card-foreground: oklch(93.37% 0.0106 264.44);
    --color-popover: oklch(13.85% 0.0283 285.75);
    --color-popover-foreground: oklch(93.37% 0.0106 264.44);
    --color-primary: oklch(93.37% 0.0106 264.44);
    --color-primary-foreground: oklch(19.87% 0.0298 285.75);
    --color-secondary: oklch(25.25% 0.0171 277.64);
    --color-secondary-foreground: oklch(93.37% 0.0106 264.44);
    --color-muted: oklch(25.25% 0.0171 277.64);
    --color-muted-foreground: oklch(69.71% 0.0199 257.08);
    --color-accent: oklch(25.25% 0.0171 277.64);
    --color-accent-foreground: oklch(93.37% 0.0106 264.44);
    --color-destructive: oklch(42.15% 0.1467 29.07);
    --color-destructive-foreground: oklch(93.37% 0.0106 264.44);
    --color-border: oklch(25.25% 0.0171 277.64);
    --color-input: oklch(25.25% 0.0171 277.64);
    --color-ring: oklch(84.56% 0.0164 257.09);
    --color-chart-1: oklch(61.04% 0.176 255.23);
    --color-chart-2: oklch(57.61% 0.0882 183.62);
    --color-chart-3: oklch(66.53% 0.1307 72.18);
    --color-chart-4: oklch(72.51% 0.1269 307.06);
    --color-chart-5: oklch(72.8% 0.1576 11.87);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
